services:
    risingwave:
        image: risingwavelabs/risingwave:latest
        pull_policy: always
        container_name: risingwave-standalone
        ports:
            - "4566:4566"
            - "5691:5691"
            - "12221:12221" # for Prometheus
        volumes:
            - state_store:/state_store
        command: >
            single-node --store-directory /state_store
            --prometheus-endpoint http://prometheus:9090

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
        ports:
            - "9090:9090"

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        ports:
            - "3000:3000"
        environment:
            - GF_AUTH_ANONYMOUS_ENABLED=true
            - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
        volumes:
            - grafana_data:/var/lib/grafana

volumes:
    state_store:
    grafana_data:
